{% extends 'base.html' %}

{% block content %}
<main>
  <h1>Create Category</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <button>CATAGORIZE THAT!</button>
  </form>
  </main>
{% endblock content %}