{% extends 'base.html' %}

{% block content %}
<main>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
      {% for category in categories_list %}
      <tr>
        <td> {{ category.name }} </td>
        <td> {{ category.receipts.all|length }} </td>
      </tr>
      {% endfor %}
  </table>
</main>

{% endblock content %}