{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two-Shot</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>

<body>
		<header>
		  <nav>
        <ul class = "navigation">
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'home' %}" >Receipts</a></li>
            <li class="nav-item"><a href="{% url 'receipt_create' %}">Create Receipt</a></li>
            <li class="nav-item"><a href="{% url 'account_list' %}">Accounts</a></li>
            <li class="nav-item"><a href="{% url 'account_create' %}">Create Account</a></li>
            <li class="nav-item"><a href="{% url 'category_list' %}">Categories</a></li>
            <li class="nav-item"><a href="{% url 'category_create' %}">Create Category</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'signup' %}">SIGN UP</a></li>
          {% endif %}
        </ul>
		  </nav>
		</header>
	{% block content %}
	{% endblock content %}
</body>
</html>