{% extends 'base.html' %}

{% block content %}
<main>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
      {% for account in accounts_list %}
      <tr>
        <td> {{ account.name }} </td>
        <td> {{ account.number }} </td>
        <td> {{ account.receipts.all|length }} </td>
      </tr>
      {% endfor %}
  </table>
</main>
{% endblock content %}