{% extends 'base.html' %}

{% block content%}
  <main>
    <h2>LOG IN! DO IT NOW! WHAT ARE YOU WAITING FOR?!?!</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button>GET TO THE EXPSENSE REPORTS!</button>
      </div>
    </form>
  </main>
  {% endblock content %}
