{% extends 'base.html' %}


{% block content%}
  <main>
    <div>
      <h1>LOGGED OUT!</h1>
      <p>Oh by the way... We are going to need you to come in on Saturday, mmmmkay?<p>
      <br> </br>
      <br> </br>
      <br> </br>
      <p>Oh I almost forgot... We are going to need you to come in on Sunday as well, mmmmkay? Thanks....<p>
    </div>
  </main>
  {% endblock content %}