{% extends 'base.html' %}

{% block content %}

<main>
  <div class = "narrow-form">
  <h1>JOIN THE EXCLUSIVE EXPENSE REPORT VIEWING CLUB</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <button>REGISTER!</button>
  </form>
  </div>
</main>

{% endblock content%}