{% extends 'base.html' %}

{% block content %}
<main>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th> 
        <th>Account</th>
      </tr>
    </thead>
      {% for receipt in receipts_list %}
      <tr>
        <td> {{ receipt.vendor }} </td>
        <td> {{ receipt.total }} </td>
        <td> {{ receipt.tax }} </td>
        <td> {{ receipt.date }} </td>
        <td> {{ receipt.category }} </td>
        <td> {{ receipt.account }} </td>
      </tr>
      {% endfor %}
  </table>
</main>

{% endblock content %}
