h1 {
  text-align: center;
}

table {
  border: 2px, solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
border: 1px solid lightblue;
padding: 0.5em;

}

.narrow-form {
  border: 1px solid grey;
  max-width: 400px;
  margin: auto;
  padding: 2em;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 1em;
}